# GitHub Actions -> Vercel
VERCEL_TOKEN=
VERCEL_ORG_ID=
VERCEL_PROJECT_ID=

# Veyra APIs
YOUTUBE_API_KEY=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Optional Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
